/*VARIABLES*/
$font-stack:    Helvetica, sans-serif;

/*Colors*/
$main-black:                #151515;
$main-white:                #fafafa;

$highlight:#996699;
$highlight-darker: #a22aa5;
$highlight-blue: #006699;

$gray:#CCCCCC;
$light-gray: #fcfcfc;

$font-titles: 'Permanent Marker', cursive;
$font-text: 'Ubuntu', sans-serif;

/*General Rules*/
body, html{
    width:100vw;
    height:100vh;
    background-color:$light-gray;
    font-family:$font-text;
    display:flex;
    flex-direction: column;
}

h1,h2,h3 {
    color:$highlight;
    font-family:$font-titles;
}

h4,h5,h6 {
    color:$highlight-blue;
    font-family:$font-text;
}

main {
    flex: 1 0 auto;
    
    .container {
        background-color:$light-gray;
    }
}

/*Nav-Bar*/
header {
    nav {
    background-color:$main-black;
    
        .nav-wrapper a {
            color:$main-white;
        }
        
    }
    
    .dropdown-content {
        background: $main-white;
        
        li a {
            color: $main-black;
            border-bottom:1px solid $highlight-blue;
            
            &:focus, &:hover{
                background:$highlight;
                color:$main-white;
            }
        }
        

    }
}



/*Form*/
.container-form {
    display:flex;
    justify-content:center;
    
    .row {
    margin-top:5px;
    width:95%;
    }
    
    .material-icons {
        color:$highlight-blue;
    }
    
    .prefix {
        &.active { 
            color: $highlight; 
        }
    }
    
    
    .input-field {
        input[type=text]:focus + label, textarea:focus + label {
            color: $highlight;
        }
        
        input:focus, textarea:focus {
            border-bottom: 1px solid $highlight !important;
            box-shadow: 0 1px 0 0 $highlight !important
         }
         
            // /* valid color */ ADD VALIDATION
        //   .input-field input[type=text].valid {
        //      border-bottom: 1px solid #000;
        //      box-shadow: 0 1px 0 0 #000;
        //   }
        //   /* invalid color */
        //   .input-field input[type=text].invalid {
        //      border-bottom: 1px solid #000;
        //      box-shadow: 0 1px 0 0 #000;
        //   }
        //   /* icon prefix focus color */
        //   .input-field .prefix.active {
        //      color: #000;
        //   }
    }
    
    .input-field .select-wrapper .dropdown-content.select-dropdown li span{
        color:$highlight;
    }
    
    button {
        background:$highlight-blue;
    
        &:focus, &:hover, &:active {
            background:$highlight;
            color:$main-white;
        }
    
        .material-icons {
            color:$main-white;
        }
    }
}

.page-footer {
    margin-top:40px;
    background-color:$highlight-blue;
    
    h6 {
        font-family:$font-text;
    }
    
    ul li {
        display:inline-block;
        margin-right:20px;
    }
    
}


.pagination li.active {
    background-color: $highlight;
}

.btn-floating {
    background-color:$highlight;
    
    &:active, &:focus, &:hover {
        background-color:$highlight-darker;   
    }
}

.video-details{

    h4{
        color: $highlight;
        text-align: center;
    }
    h5{
        color:$highlight-blue;
        margin:20px;
    }
    
    .card{
        display:flex;
        justify-content: center;
        padding:10px;
    }
    
    ul li {
        margin-bottom: 5px;
    
        span{
        color:$highlight;
        font-family:$font-titles;
        letter-spacing: 2px;
        margin-right: 10px;
        }
        
        a{
            color:$highlight-blue;
            cursor:pointer;
            &:hover, &:active, &:focus{
                color:$highlight-darker;
            }
        }
    }
    
    .waves-effect.waves-light.btn {
        background-color: $highlight;
        color:$main-white;
        text-transform: lowercase;
        margin-left: 20px;
    }
    
    
    video-stats{
        display:flex;
    }
}

