/*VARIABLES*/
/*Colors*/
/*General Rules*/
body, html {
  width: 100vw;
  height: 100vh;
  background-color: #fcfcfc;
  font-family: "Ubuntu", sans-serif;
  display: flex;
  flex-direction: column; }

h1, h2, h3 {
  color: #996699;
  font-family: "Permanent Marker", cursive; }

h4, h5, h6 {
  color: #006699;
  font-family: "Ubuntu", sans-serif; }

main {
  flex: 1 0 auto; }
  main .container {
    background-color: #fcfcfc; }

/*Nav-Bar*/
header nav {
  background-color: #151515; }
  header nav .nav-wrapper a {
    color: #fafafa; }
    header nav .nav-wrapper a:hover {
      color: #996699; }
header .dropdown-content {
  background: #fafafa; }
  header .dropdown-content li a {
    color: #151515;
    border-bottom: 1px solid #006699; }
    header .dropdown-content li a:focus, header .dropdown-content li a:hover {
      background: #996699;
      color: #fafafa; }

/*Home Page*/
.home-page h3 {
  color: #006699;
  text-align: center; }
@media screen and (min-width: 600px) {
  .home-page .row {
    display: flex;
    align-items: stretch; } }
.home-page .col .card {
  background-color: #151515;
  height: 100%;
  color: #fafafa;
  text-align: center;
  transition: all 300ms linear; }
  .home-page .col .card .card-title {
    font-family: "Permanent Marker", cursive; }
  .home-page .col .card:hover {
    background-color: #006699;
    color: #fafafa;
    text-decoration: none; }

/*Form*/
.container-form {
  display: flex;
  justify-content: center; }
  .container-form .row {
    margin-top: 5px;
    width: 95%; }
  .container-form .material-icons {
    color: #006699; }
  .container-form .prefix.active {
    color: #996699; }
  .container-form .input-field input[type=text]:focus + label, .container-form .input-field textarea:focus + label {
    color: #996699; }
  .container-form .input-field input:focus, .container-form .input-field textarea:focus {
    border-bottom: 1px solid #996699 !important;
    box-shadow: 0 1px 0 0 #996699 !important; }
  .container-form .input-field .select-wrapper .dropdown-content.select-dropdown li span {
    color: #996699; }
  .container-form button {
    background: #006699; }
    .container-form button:focus, .container-form button:hover, .container-form button:active {
      background: #996699;
      color: #fafafa; }
    .container-form button .material-icons {
      color: #fafafa; }

.page-footer {
  margin-top: 40px;
  background-color: #006699; }
  .page-footer ul li {
    display: inline-block;
    margin-right: 30px; }

.pagination li.active {
  background-color: #996699; }

.btn-floating {
  background-color: #996699; }
  .btn-floating:active, .btn-floating:focus, .btn-floating:hover {
    background-color: #a22aa5; }

.video-details h4 {
  color: #996699;
  text-align: center; }
.video-details h5 {
  color: #006699;
  margin: 20px; }
.video-details .card {
  display: flex;
  justify-content: center;
  padding: 10px; }
.video-details ul li {
  margin-bottom: 5px; }
  .video-details ul li span {
    color: #996699;
    font-family: "Permanent Marker", cursive;
    letter-spacing: 2px;
    margin-right: 10px; }
  .video-details ul li a {
    color: #006699;
    cursor: pointer; }
    .video-details ul li a:hover, .video-details ul li a:active, .video-details ul li a:focus {
      color: #a22aa5; }
.video-details .waves-effect.waves-light.btn {
  background-color: #996699;
  color: #fafafa;
  text-transform: lowercase;
  margin-left: 20px; }
.video-details video-stats {
  display: flex; }

/*# sourceMappingURL=styles.css.map */
