{% extends 'base.html'%} 

{% block content %}
<div class='row'>
    <div class='col s12 m4'>
        <div class="card">
            <h5>Top 3 Contributors</h5>
            <ul class="collection">
                {% for contributor in top_contributors %}
                    <a href="{{url_for('get_contributor_detail', contributor_username=contributor._id)}}">
                        <li class="collection-item">{{contributor._id}}</li>
                    </a>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class='col s12 m4'>    
            <h5>Most Liked Videos </h5>
            <ul class="collection">
                {% for video in youtuber_videos %}
                    <a href="{{video_url}}">
                        <li class="collection-item avatar">
                            <img src="{{video.thumbnails.small}}" alt="{{video.title}}" class="circle">
                            <span class="title">{{video.video_title}}</span>
                        </li>
                    </a>
                {% endfor %}
            </ul>

    </div>
    <div class='col s12 m4'>    
        <div class="card">
            <h5>Most Liked Videos </h5>
            <ul class="collection">
                {% for youtuber in top_youtubers %}
                    <a href="{{url_for('get_youtuber_detail', channel_id=youtuber['thumbnails'][0]['_id'])}}">
                        <li class="collection-item avatar">
                            <img src="{{youtuber['thumbnails'][0]['thumbnails']}}" alt="{{youtuber['_id']}}" class="circle">
                            <span class="title">{{youtuber['_id']}}</span>
                        </li>
                    </a>
                {% endfor %}
            </ul>
        </div>
    </div>
        
</div>

<div class="row">
    <div class="col s12 m6">
      <div class="card">
          <div id="by_number_of_videos"></div>
      </div>
    </div>
</div>



<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="static/js/stats.js"></script>
<script type="text/javascript">
    makeBarChart({{data|safe}}, "#by_number_of_videos")

</script>
{% endblock %}