{% extends 'base.html'%} 

{% block content %}
<div class="container details">
    <h4>{{contributor_username}}</h4>
    <h6 class="subline"><span>{{total_videos}}</span> videos added</h6>

    
    <h5>The Videos</h5>
    <ul class="collection">
        {% for video in contributor_videos %}
            <a href="{{url_for('get_detail', video_id=video._id)}}"><li class="collection-item avatar">
                <div class="row">
                    <div class="col s12 m5 l3">
                        <img class='img-responsive' src="{{video.thumbnails.small}}" alt="{{video.video_title}}" />
                    </div>
                    <div class="col s12 m7 l9">
                        <span class="detail-text truncate">{{video.video_title}}</span>
                        <p>{{video.video_description}}</p>
                    </div>
                </div>
            </li></a>
        {% endfor %}
      </ul>



{% endblock %}