{% extends 'base.html'%} 

{% block content %}
<div class="row">
    
    <h3>Videos</h3>
    <h5>{%if category == "all" %}
        All Categories
        {% else %}
        Category: {{category.capitalize()}}
        {% endif %}
    </h5>
      <div class="row">
        {% for video in videos %}
        <div class="col s12 m4">
          <div class="card get-videos">
            <div class="card-image">
              <img src="{{video.thumbnails.large}}">
              <a href="{{url_for('get_detail', video_id=video._id)}}" class="btn-floating halfway-fab waves-effect waves-light"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
              <h4 class="card-title truncate">{{video.video_title}}</h4>
              <p>{{video.description}}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    
    <footer>
      <ul class="pagination">
      {% if page_number|int == 1 %}
        <li class="disabled">
      {% else %}
        <li class="wave-effect">
      {% endif %}  
          <a href="{{url_for('get_videos', 
                            category=category,
                            number_of_pages=number_of_pages,
                            page_number=page_number|int-1)}}">
            <i class="material-icons">chevron_left</i>
          </a>
        </li>
          
      
      {% for numb in range(number_of_pages|int) %}
        {% if numb+1 == page_number|int %}
          <li class="active">
        {% else %}
          <li class="waves-effect">
        {% endif %}
            <a href="{{url_for('get_videos', 
                            category=category,
                            number_of_pages=number_of_pages,
                            page_number=numb)}}">
              {{numb+1}}
            </a>
          </li>
      {% endfor %}
      {% if page_number|int == number_of_pages|int %}
        <li class="disabled">
      {% else %}
        <li class="waves-effect">
      {% endif %}
          <a href="{{url_for('get_videos', 
                            category=category,
                            number_of_pages=number_of_pages,
                            page_number=page_number|int+1)}}">
            <i class="material-icons">chevron_right</i>
          </a>
        </li>
        
    </ul>
  </footer>        
</div>
{% endblock %}